@use "config";

html {
  border-image: fill 1
    linear-gradient(32deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  scroll-behavior: smooth;
}
body {
  background-color: config.$primary-background;
  background-image: url("/res/Designer.jpeg");
  background-size: auto;
  background-repeat: repeat;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0 auto;
  width: 80%;
  @media (max-width: 768px) {
    width: 100%;
    position: inherit;
    .navbar__container {
      border-radius: 0;
    }
  }
  @media (max-width: 412px) {
    width: 100%;
    .navbar__container {
      border-radius: 0;
    }
  }
  &__container {
    @include config.display-flex($justify-content: space-between);
    background: config.$navbar-background;
    padding: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  &__user-info__container {
    @include config.display-flex($align-items: center);
    gap: 1rem;
    &__img-container {
      width: 2.5rem;
      height: 2.5rem;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }

  &__options {
    @include config.display-flex($align-items: center);
  }
  &__item {
    &__link {
      margin: 0 12px;
      transition: all ease-out 0.15s;
      @media (max-width: 624px) {
        display: none;
        
      }
      &:hover {
        @include config.hover-effect;
      }
    }
  }
}
.main-section {
  width: 70%;
  margin: 0 auto;
  @media (max-width: 768px) {
    margin: 0;
    width: 100%;
  }
  .welcome-section {
    width: fit-content;
    text-align: center;
    margin: config.$header-margins;
    font-size: config.$header-font-size;
    @media (max-width: 768px) {
      margin: 62px 0;
      padding: 16px;
      font-size: config.$header-font-size - 0.5rem;
    }
  }
  .about-section {
    margin: 0 auto;
    
    &__header {
      text-align: center;
      font-size: config.$sub-header-font-size + 1rem;
      margin: config.$header-margins;
      
    }
    &__main-container {
      @include config.display-flex($justify-content: space-between);
      column-gap: 25%;

      &__origins-text {
        max-width: 700px;
      }
      h3 {
        font-size: config.$sub-header-font-size;
        text-wrap: nowrap;
        margin-bottom: 34px;
      }
      &__skills-section {
        @include config.display-flex($flex-direction: column);
        &__skills-list {
          @include config.display-flex;
          flex-wrap: wrap;
          &__item {
            width: fit-content;
            padding: 0.5rem;
            margin: 1rem;
            border-radius: 0.5rem;
            background-color: rgb(124, 189, 250);
            color: black;
          }
        }
      }
      @media (max-width: 768px) {
        flex-direction: column;
        row-gap: 15%;
        .about-section__header{
          color: red;
        }
        h3 {
          margin: 34px 0;
        }
        &__skills-section {
          &__skills-list {
            &__item {
              margin: 0;
              margin-right: 34px;
              margin-bottom: 34px;
            }
          }
        }
      }
    }
    @media (max-width: 768px) {
      width: 90%;
    }
  }
  .side-bar {
    @media (max-width: 768px) {
      display: none;
    }
    position: absolute;
    left: 0;
    top: 50%;
    &__option-container {
      background-color: white;
      padding: 1rem 0.5rem;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      &__item {
        .fa-brands {
          color: black;
          margin: 0.5rem;
          transition: all 0.15s;
          &:hover {
            color: orange;
            transition: all ease-in 0.15s;
            font-size: 2.2em;
          }
        }
      }
    }
  }
  .contact-section {
    color: black;
    @include config.display-flex($flex-direction: column);
    margin-bottom: 2rem;
    &__header {
      align-self: center;
      font-size: config.$sub-header-font-size;
      margin: 34px 0;
    }
    &__form {
      @include config.display-flex($flex-direction: column);
      font-size: 1rem;
      background-color: config.$form-background;
      border-radius: 0.3rem;
      padding-top: 3rem;
      width: 100%;
      align-self: center;
      @media (max-width: 768px) {
        width: 90%;
      }
      &__input {
        color: black;
        background-color: config.$field-background;
        padding: 1rem;
        border: 0;
        border-radius: 0.2rem;
        margin: 1rem 0;
      }
      &__form-groups {
        @include config.display-flex($flex-direction: column);
        padding: 0 4rem;
        @media (max-width: 768px) {
          padding: 0 2rem;
        }
        &__label {
          color: black;
        }
      }
      &__textarea {
        margin: 1rem 0;
        height: 16rem;
        width: 100%;
        resize: none;
        background-color: config.$field-background;
        padding: 1rem;
        color: black;
        border: 0;
        border-radius: 0.325rem;
      }
      &__button {
        @include config.btn-style;
        align-self: flex-end;
        color: white;
        background-color: orange;
        border: none;
        border-radius: 0.5rem;
        padding: 12px;
        margin: 2rem;
        font-size: 1rem;
        transition: all 0.25s;
        &:hover {
          cursor: pointer;
          transform: translateY(-4px);
        }
      }
    }
  }
}
.footer {
  width: 100%;
  height: fit-content;
  background-color: black;
  &__container {
    text-align: center;
    padding: 1rem;
    @media (max-width: 768px) {
      margin: 0 3rem;
    }
    @media (max-width: 1024) {
      margin: 0 10%;
      display: grid;
      grid-template-rows: 1fr 0.5;
      gap: 1rem;
    }

    &__main {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 1rem;
      text-align: center;
      &__socials {
        .fa-brands {
          margin: 0.5rem 4px;
          transition: all ease 0.25s;
        }
        .fa-brands:hover {
          @include config.hover-effect;
        }
      }
      &__divider {
        margin: 1rem;
      }
    }
  }
}
